#product_data {
    list-style-type: none;
}

#price_history {
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    #product_data {
        margin: 0;
        padding: 0;
    }

    #product_img {
        margin-left: 10vw;
    }
}